<!--<h1>FUCKYEAH</h1>>-->

<div class="page-body">
    <h2 class="mat-h2">Quantity</h2>
    <!--<a mat-raised-button routerLink="/storage/new" class="mat-primary">Add new storage</a>-->
  
    <mat-table #table [dataSource]="quantiy">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.comment}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="color">
        <mat-header-cell *matHeaderCellDef> Color</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.quantity}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="size">
        <mat-header-cell *matHeaderCellDef> Size</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.depository_id}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.product_ip}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a mat-button [routerLink]="'/storage/' + element.id">Details</a>
          <button mat-button (click)="delete(element.id)" class="mat-accent">Delete</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
  </div>
